<div class="HEADER">
    <div class="SIGNATUREHEAD" id="LOGO">
        <a href="/"><img src="/rough/mySign.png" alt="My Name Logo" srcset=""></a>
    </div>

    <div class="NAVBAR">

        <ul class="LINKLIST" id="LINKLIST">
            <a href="/">
                <li class="LINK" id="HOMELINK">HOME</li>
            </a>
            <a href="/about">
                <li class="LINK" id="ABTLINK">ABOUT</li>
            </a>
            <a href="/contact">
                <li class="LINK" id="CONTACTLINK">CONTACT ME</li>
            </a>
            <a href="/newsletter">
                <li class="LINK" id="NLETTER">NEWSLETTER</li>
            </a>

        </ul>
    </div>
</div>